<!-- <div class="login">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Login to Project Issue Tracker </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required />
        </mat-form-field>
      </form>
      <button (click)="login()" color="primary" mat-raised-button>Login</button>
      <div style="margin-top: 10px"></div>
      <span
        >Don't have an account?<a
          routerLink="/register"
          mat-flat-button
          color="secondary"
        >
          Register
        </a></span
      >
    </mat-card-content>
  </mat-card>
</div> -->
<div class="login">
  <div class="card">
    <h1>Welcome to Project Issue Tracker</h1>
    <form
      nz-form
      [formGroup]="loginForm"
      class="login-form"
      (ngSubmit)="login()"
    >
      <nz-form-item>
        <nz-form-control nzErrorTip="Email must be a valid email">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="email"
              nz-input
              [nzSize]="'large'"
              formControlName="email"
              placeholder="Email"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Password must be at least 8 characters">
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              formControlName="password"
              placeholder="Password"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div class="text-red-500">{{ error }}</div>
      <button
        nz-button
        class="login-form-button login-form-margin"
        [nzType]="'primary'"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Log in
      </button>
      <span class="register-content">
        Don't have an account?
        <button nz-button [nzType]="'link'" routerLink="/register">
          Register
        </button>
      </span>
    </form>
  </div>
</div>
