mat-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
}
mat-card-content {
  display: flex;
  flex-direction: column;
  width: 90%;
}
mat-card-title {
  margin-top: 10px;
  margin-bottom: 10px;
}
form {
  display: flex;
  flex-direction: column;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
