<div [nzGutter]="[16, 24]" nz-row nzAlign="top" nzJustify="start">
  <div style="margin-top: 1rem" nz-col nzSpan="18" class="height-100">
    <nz-card [nzTitle]="project.name">
      <div style="display: flex; justify-content: space-between">
        <p nz-typography>Description : {{ project.description }}</p>
        <button (click)="openIssueCreateDialog()" nz-button nzType="primary">
          Create Issue
        </button>
      </div>
      <h3 nz-typography>List of Issues</h3>
      <app-issue-table [issues]="issues()"></app-issue-table>
      <div
        style="display: flex; justify-content: flex-end; padding-right: 6rem"
      >
        <nz-pagination
          (nzPageIndexChange)="
            issuesService.getIssuesForProject(project.id, $event)
          "
          [nzPageSize]="issuesService.pageSize"
          [(nzPageIndex)]="issuesService.pageNumber"
          [nzTotal]="$any(issuesService.totalIssues())"
        >
          >
        </nz-pagination>
      </div>
    </nz-card>
  </div>
  <div style="margin-top: 1rem" nz-col nzSpan="6" class="height-100">
    <div nz-col class="height-50">
      <nz-card nzTitle="Issues Chart"> Chart Remaining </nz-card>
    </div>
    <div nz-col class="height-50">
      <nz-card nzTitle="Collaborators"> </nz-card>
    </div>
  </div>
</div>
