@use "sass:map";
@use "@angular/material" as mat;
.example-container {
  width: 100%;
  height: 90%;
}

.sidenav-menu {
  padding-top: 1rem;
  padding-left: 2px;
  padding-right: 2px;
  // display: flex;
  // flex-direction: column;
  width: 200px;

  button {
    justify-content: flex-start;
    width: 100%;
  }
}

mat-sidenav-content {
  display: flex;
  justify-content: center;
}

mat-toolbar {
  display: flex;
  // align-items: center;
  // justify-content: space-between;
  justify-content: space-between;
}

.mat-button {
  background: green;
}
