<!-- <mat-card class="my-custom-card" (click)="navigate()">
  <mat-card-header>
    <mat-card-title>{{ project.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ project.description }}</p>
  </mat-card-content>

</mat-card> -->
<!-- <div nz-row [nzGutter]="8"> -->
<div style="margin: 1rem" nz-col [nzSpan]="8">
  <nz-card
    (click)="navigate()"
    nzHoverable
    class="card"
    [nzTitle]="project.name"
  >
    <p>{{ project.description }}</p>
  </nz-card>
</div>
<!-- </div> -->
