<div style="margin: 0.5rem" nz-col [nzSpan]="8">
  <nz-card
    (click)="navigate()"
    nzHoverable
    class="card"
    [nzTitle]="project.name"
    [nzExtra]="extraTemplate"
  >
    <p nz-typography nzEllipsis [nzEllipsisRows]="1">
      {{ project.description }}
    </p>
  </nz-card>
</div>

<ng-template #extraTemplate>
  <button
    nz-button
    (click)="$event.stopPropagation(); showConfirm()"
    nzType="default"
    nzDanger
  >
    <span nz-icon nzType="trash"></span>
    Delete
  </button>
</ng-template>
